.top {
    position: relative;
    height: 1500px;
    font-family: "kaisei-tokumin", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-image: url(../fukune-photo/washi5.jpg);
    cursor: default;
}

.dinner-title{
    position: relative;
    writing-mode: vertical-rl; 
    left: 1120px;
    top: 100px;
    text-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
    opacity: 0;
    transform: translateY(50px); 
    animation: fadeInUp 3s forwards;
}

.dinner-message{
    position: relative;
    right: 300px;
    text-align: center;
    top: 300px;
    line-height: 35px;
    opacity: 0;
    transform: translateY(50px); 
    animation: fadeInUp 3s forwards;
}

.coution-message{
    position: relative;
    left: 100px;
    top: 330px;
    opacity: 0;
    transform: translateY(80px); 
    animation: fadeInUp 15s forwards;
}

.dinner{
    position: relative;
    left: 330px;
    top: 400px;
    font-weight: 200px;
}

.dinner-price{
    position: relative;
    top: 400px;
    left: 330px;
    font-weight: 500;
}

.zei{
    position: relative;
    top: 350px;
    left: 460px;
}

.price-option{
    position: relative;
    top: 290px;
    left: 530px;
    font-weight: 300;
}

.gaikanNight{
    position: relative;
    left: 570px;
    top: -980px;
    max-width: 500px;
    max-height: 600px;
    opacity: 0;
    transform: translateY(50px); 
    animation: fadeInUp 3s forwards;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
}

@keyframes fadeInUp {
    to {
      opacity: 1; 
      transform: translateY(0); 
    }
  }


  .dinner-drink{
    position: relative;
    margin-top: -20px;
    height: 800px;
    background-image: url("../fukune-photo/washi.jpg");
    cursor: default;
  }

  .drinkimg {
    position: relative;
    left: 400px;
    width: 463.5px;
    top: -100px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
  }

  .drinkimg2 {
    position: relative;
    left: 450px;
    top: -100px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
  }

  .drink {
    position: relative;
    left: 1450px;
    top: 50px;
    writing-mode: vertical-lr;
    font-family: "kaisei-tokumin", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 5px 5px 10px rgba(0, 0, 0.4, 0.4);
  }

  .drink-p{
    position: relative;
    left: 720px;
    top: -50px;
    font-family: "kaisei-tokumin", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 35px;
  }

  .dinner-slide{
    position: relative;
    top: -700px;
    left: 1100px;
  }

  .dinner-slide img{
    width: 350px;
  }

  @media only screen and (max-width: 600px) {

    .top{
      height: 1800px;
    }

     .gaikanNight{
      width: 270px;
      height: 360px;
      left: 50px;
      top: -650px;
     }

     .dinner-title{
      left: 100px;
      top: 20px;
     }

     .dinner{
        left: 20px;
        font-size: larger;
     }

     .dinner-price{
        left: 20px;
        font-size: larger;
     }

     .zei{
      left: 100px;
      top: 360px;
     }

     .price-option{
      left: 170px;
      top: 320px;
      font-size: larger;
     }

     .dinner-slide{
      left: 10px;
      top: -540px;
     }

     .dinner-slide img{
      max-width: 370px;
      max-height: 270px;
     }

     .dinner-message{
      max-width: 370px;
      font-size: smaller;
      left: 10px;
      top: 650px;
      line-height: 25px;
     }

     .coution-message{
      font-size: smaller;
      top: 700px;
      left: 10px;
      max-width: 300px;
     }

  }