.lunch-dinner{
    writing-mode: vertical-rl;
    font-family: "kaisei-tokumin", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.home-lunch{
    position: relative;
    left: 250px;
    width: 200px;
}

.lunch-dinner a {
    text-decoration: none;
    color: black;
}

.dLink{
    position: relative;
    max-width: 350px;
    left: 1000px;
}

.home-lunch-image{
    position: relative;
    right: 70px;
    width: 350px;
    height: 350px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
}

.home-lunch-p{
    position: relative;
    right: 90px;
}

.home-lunch-title{
    position: relative;
    right: 75px;
}

.home-dinner{
    position: relative;
    left: 50px;
}

.home-dinner-image{
    width: 350px;
    height: 350px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
}

/* ↓ケータイ↓ */
@media only screen and (max-width: 600px) {
    .lunch-dinner{
        max-width: 380px;
        height: 750px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .lunch-dinner a{
        max-width: 160px;
    }

    .home-lunch-image{
        max-width: 280px;
        max-height: 200px;
        top: 80px;
    }

    .home-lunch{
        left: 100px;
    }

    .home-lunch-title{
        top: 60px;
    }

    .home-lunch-p{
        right: 70px;
        top: 50px;
    }

    .home-dinner-image{
        max-width: 280px;
        max-height: 200px;
    }

    .home-dinner{
        top: 450px;
        right: 761px;
        max-height: 300px;
    }
}