.lunch-dinner{
    writing-mode: vertical-rl;
    font-family: "kaisei-tokumin", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.home-lunch{
    position: relative;
    left: 250px;
    width: 200px;
}

.lunch-dinner a {
    text-decoration: none;
    color: black;
}

.dLink{
    position: relative;
    width: 350px;
    left: 1000px;
}

.home-lunch-image{
    position: relative;
    right: 70px;
    width: 350px;
    height: 350px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
}

.home-lunch-p{
    position: relative;
    right: 90px;
}

.home-lunch-title{
    position: relative;
    right: 75px;
}

.home-dinner{
    position: relative;
    left: 50px;
}

.home-dinner-image{
    width: 350px;
    height: 350px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
}

/* ↓ケータイ↓ */
@media only screen and (max-width: 600px) {
    .lunch-dinner{
        max-width: 380px;
        height: 750px;
    }

    .lunch-dinner h3 {
        text-shadow: 5px 5px 10px rgba(0, 0, 0.4, 0.7);
    }

    .home-lunch-image{
        max-width: 280px;
        max-height: 200px;
        top: 80px;
        right: -5px;
    }

    .Llink{
        display: inline-block;
        width: 280px;
        height: 200px;
    }

    .home-lunch{
        left: 20px;
        width: 330px;
        height: 360px;
    }

    .home-lunch-title{
        position: relative;
        top: 60px;
        right: 5px;
    }

    .home-lunch-p{
        right: -15px;
        top: 50px;
    }

    .home-dinner-image{
        max-width: 280px;
        max-height: 200px;
    }

    .home-dinner{
        max-height: 300px;
    }

    .dLink{
        display: inline-block;
        left: 315px;
        top: 500px;
        width: 300px;
        height: 280px;
    }

    .vertical-dash{
        display: inline-block;
        transform: rotate(90deg);
        
    }
}