.lunch-dinner{
    writing-mode: vertical-rl;
    font-family: "kaisei-tokumin", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.home-lunch{
    position: relative;
    left: 250px;
    width: 200px;
}

.lunch-dinner a {
    text-decoration: none;
    color: black;
}

.home-lunch-image{
    position: relative;
    right: 70px;
    width: 350px;
    height: 350px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
}

.home-lunch-p{
    position: relative;
    right: 90px;

}

.home-lunch-title{
    position: relative;
    right: 75px;
}

.home-dinner{
    position: relative;
    left: 1000px;
}

.home-dinner-image{
    width: 350px;
    height: 350px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
}