.I-image-div{
    background-image: url('../fukune-photo/washi.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 380px;
}

.I-image{
    position: relative;
    top: 15px;
    left: 700px;
    width: 500px;
    height: 350px;
    opacity: 0; 
    transform: translateY(50px); 
    animation: fadeInUp 5s forwards;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
}

@keyframes fadeInUp {
    to {
      opacity: 1; 
      transform: translateY(0); 
    }
  }

.Introduction{
    width: 500px;
    height: 700px;
    position: relative;
    top: -720px;
    right: 700px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
    opacity: 0; 
    transform: translateY(50px); 
    animation: fadeInUp 5s forwards;
    cursor: default;
}

.table {
    position: relative;
    top: 250px;
    left: 1150px;
    max-height: 1100px;
    max-width: 500px;
    font-family: "kaisei-tokumin", sans-serif;
    font-weight: 700;
    font-style: normal;
    opacity: 0; 
    transform: translateY(50px); 
    animation: fadeInUp 5s forwards;
    cursor: default;
}

.Map{
    position: relative;
    left: 450px;
}

.Map-div{
    position: relative;
    background-image: url("../fukune-photo/washi.jpg");
}

.zaseki-counter{
    width: 400px;
    max-height: 380px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
}

.counter{
    position: relative;
    top: 5px;
    left: 410px;
    width: 420px;
    font-family: "kaisei-tokumin", sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: default;
}

.c-h3{
    position: relative;
    left: 150px;
    cursor: default;
}

.zashiki{
    position: relative;
    left: 1000px;
    top: -570px;
    max-width: 420px;
    font-family: "kaisei-tokumin", sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: default;
}

.zaseki-zashiki{
    max-width: 400px;
    max-height: 380px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
}

.I-seki{
    position: relative;
    height: 600px;
    background-image: url(../fukune-photo/washi5.jpg);
}

.z-h3{
    position: relative;
    left: 180px;
    cursor: default;
}

@media only screen and (max-width: 600px) {
    .I-image-div{
        height: 250px;
    }

    .I-image{
        left: 20px;
        max-width: 350px;
        height: 200px;
    }
    .Introduction{
        max-width: 300px;
        max-height: 350px;
        top: -1050px;
        right: -25px;
    }

    .table{
        font-size: small;
        max-width: 350px;
        height: 1520px;
        top: 500px;
        left: 20px;
    }

    .I-seki{
        max-width: 390px;
        height: 1100px;
    }

    .I-seki h3 {
        width: 100px;
    }

    .counter{
        max-width: 380px;
        font-size: small;
        left: 20px;
        top: 40px;
    }

    .zaseki-counter{
        width: 350px;
        height: 280px;
    }

    .counter p {
        max-width: 350px;
    }

    .zaseki-zashiki{
        width: 350px;
        height: 280px;
    }

    .zashiki{
        max-width: 380px;
        font-size: small;
        left: 20px;
        top: 100px;
    }

    .zashiki p{
        max-width: 350px;
    }

    .Map{
        width: 350px;
        height: 270px;
        left: 25px;
    }
}