.lunch-top{
    position: relative;
    top: -19px;
    background-image: url("../fukune-photo/washi3.jpg");
    cursor: default;
}

.lunchi{
  font-family: "kaisei-tokumin", sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: default;
}

.lunch-title{
    position: relative;
    left: 800px;
    text-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
    opacity: 0; 
    transform: translateY(50px); 
    animation: fadeInUp 5s forwards;
}

.lunch-message{
    position: relative;
    left: 630px;
    opacity: 0; 
    transform: translateY(50px); 
    animation: fadeInUp 5s forwards;
}

@keyframes fadeInUp {
    to {
      opacity: 1; 
      transform: translateY(0); 
    }
  }
  
  
  /* ランチ雅css */
  .lunchi1i{
    position: relative;
    top: -150px;
    width: 440px;
    height: 340px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
  }

  .lunchi1{
    position: relative;
    left: 500px;
  }

  .lunchi1h{
    position: relative;
    top: 50px;
    text-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
  }

  .lunchi1-title{
    position: relative;
    left: 500px;
    top: 200px;
  }

  .lunchi1-introduction{
    position: relative;
    left: 500px;
    top: 210px;
    max-width: 500px;
  }

  .lunchi1-price{
    position: relative;
    left: 250px;
  }

  .zei1{
    position: relative;
    top: -43px;
    left: 320px;
  }

  .zei2{
    position: relative;
    top: -43px;
    left: 320px;
  }

  .zei3{
    position: relative;
    top: -41px;
    left: 320px;
  }

  /* ランチ寿css */
  .lunchi2i{
    position: relative;
    top: -150px;
    width: 440px;
    height: 340px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
  }

  .lunchi2{
      position: relative;
      left: 500px;
  }

  .lunchi2h{
    position: relative;
    top: 50px;
    text-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
  }

  .lunchi2-title{
    position: relative;
    left: 500px;
    top: 200px;
  }

  .lunchi2-introduction{
    position: relative;
    left: 500px;
    top: 210px;
    max-width: 500px;
  }

  .lunchi2-price{
    position: relative;
    left: 250px;
  }

  /* ランチ特上css */

  .lunchi3i{
    position: relative;
    top: -150px;
    width: 440px;
    height: 340px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
  }

  .lunchi3{
    position: relative;
    left: 500px;
  }

  .lunchi3h{
  position: relative;
  top: 50px;
  text-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
  }

  .lunchi3-title{
  position: relative;
  left: 500px;
  top: 200px;
  }

  .lunchi3-introduction{
  position: relative;
  left: 500px;
  top: 210px;
  max-width: 500px;
  }

  .lunchi3-price{
    position: relative;
    left: 250px;
  }

  /* FadeInのアニメーション設定 */

  /* 初期状態のスタイル */
.lunchi1, .lunchi2, .lunchi3 {
  opacity: 0;
  transform: translateY(50px);  /* 50px下からスライドアップさせます */
  transition: opacity 1s, transform 1s;  /* アニメーション時間を設定します */
}

/* isVisibleクラスが追加されたときのスタイル */
.isVisible {
  opacity: 1;
  transform: translateY(0);
}


@media only screen and (max-width: 600px) {

  .lunchi{
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .lunch-title{
    left: 60px;
    max-width: 300px;
  }

  .lunch-message{
    max-width: 370px;
    left: 10px;
  }

  .lunchi1{
    left: 2px;
  }

  .lunchi1i{
    left: 40px;
    top: -190px;
  }

  .lunchi1-title{
    left: 70px;
    top: 240px;
  }

  .lunchi1-price{
    max-width: 100px;
  }

  .zei1{
    max-width: 70px;
  }

  .lunchi1-introduction{
    max-width: 360px;
    left: 15px;
    top: 240px;
  }

  .lunchi img{
    max-width: 300px;
    max-height: 240px;
  }

  .lunchi2.isVisible{
    left: 2px;
  }

  .lunchi2i{
    left: 40px;
    top: -190px;
  }

  .lunchi2-title{
    left: 40px;
    top: 240px;
  }

  .lunchi2-introduction{
    max-width: 360px;
    left: 10px;
    top: 240px;
  }

  .lunchi2-price{
    left: 240px;
    max-width: 100px;
  }

  .zei2{
    left: 310px;
    max-width: 70px;
  }

  .lunchi3.isVisible{
    left: 2px;
  }

  .lunchi3i{
    left: 40px;
    top: -190px;
  }

  .lunchi3-price{
    left: 230px;
    max-width: 100px;
  }

  .zei3{
    left: 300px;
    max-width: 70px;
  }

  .lunchi3-title{
    left: 40px;
    top: 240px;
  }

  .lunchi3-introduction{
    max-width: 360px;
    left: 10px;
    top: 240px;
  }


}