.lunch-top{
    position: relative;
    top: -19px;
    background-image: url("../fukune-photo/washi3.jpg");
}

.lunchi{
  font-family: "kaisei-tokumin", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lunch-title{
    position: relative;
    left: 800px;
    opacity: 0; 
    transform: translateY(50px); 
    animation: fadeInUp 5s forwards;
}

.lunch-message{
    position: relative;
    left: 630px;
    opacity: 0; 
    transform: translateY(50px); 
    animation: fadeInUp 5s forwards;
}

@keyframes fadeInUp {
    to {
      opacity: 1; 
      transform: translateY(0); 
    }
  }
  
  
  /* ランチ雅css */
  .lunchi1i{
    position: relative;
    top: -80px;
    width: 440px;
    height: 340px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
  }

  .lunchi1{
    position: relative;
    left: 500px;
  }

  .lunchi1h{
    position: relative;
    top: 50px;
  }

  .lunchi1-title{
    position: relative;
    left: 500px;
    top: 200px;
  }

  .lunchi1-introduction{
    position: relative;
    left: 500px;
    top: 210px;
    max-width: 500px;
  }

  .lunchi1-price{
    position: relative;
    left: 250px;
  }

  .zei{
    position: relative;
    left: 320px;
    top: -42px;
  }

  /* ランチ寿css */
  .lunchi2i{
    position: relative;
    top: -80px;
    width: 440px;
    height: 340px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
  }

  .lunchi2{
      position: relative;
      left: 500px;
  }

  .lunchi2h{
    position: relative;
    top: 50px;
  }

  .lunchi2-title{
    position: relative;
    left: 500px;
    top: 200px;
  }

  .lunchi2-introduction{
    position: relative;
    left: 500px;
    top: 210px;
    max-width: 500px;
  }

  .lunchi2-price{
    position: relative;
    left: 250px;
  }

  /* ランチ特上css */

  .lunchi3i{
    position: relative;
    top: -80px;
    width: 440px;
    height: 340px;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
  }

  .lunchi3{
    position: relative;
    left: 500px;
  }

  .lunchi3h{
  position: relative;
  top: 50px;
  }

  .lunchi3-title{
  position: relative;
  left: 500px;
  top: 200px;
  }

  .lunchi3-introduction{
  position: relative;
  left: 500px;
  top: 210px;
  max-width: 500px;
  }

  .lunchi3-price{
    position: relative;
    left: 250px;
  }