nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(201, 0, 0);
    gap: 50px;
    font-family: 'kaisei-tokumin', serif;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: rgb(68, 70, 70);
}

.storeName {
    position: relative;
    left: 300px;
    top: 20px;
    font-family: "kaisei-tokumin", sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: default;
}

.tell {
    position: relative;
    left: 1500px;
    cursor: default;
}

/* ↓ケータイ↓ */
@media only screen and (max-width: 600px) {
    .storeName{
        position: inherit;
    }

    .tell{
        position: inherit;
    }

    nav{
        font-weight: 100;
        font-size: 13px;
        width: 100%;
    }
  }

/* タブレット */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .storeName{
        position: inherit;
    }
    .tell{
        position: inherit;
    }

    nav{
        font-weight: 100;
        font-size: 13px;
    }
  }