
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .slide-entering2,
  .slide-leaving2 {
    animation-duration: 5s;
    position: absolute;
    top: -750px;
    right: 450px;
    width: 400px;
    max-height: 40vh;
    box-shadow: 5px 5px 10px rgba(0.7, 0.5, 0, 0.7);
  }
  
  .slide-entering2 {
    animation-name: fadeIn;
  }
  
  .slide-leaving2 {
    animation-name: fadeOut;
  }